*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/yujiz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.dragon {
    text-align: center;
}