body{
    background-color: lightblue;

}


.shoe{
    height: 500px;
    width: 600px;
}

#kobe{
    height: 200px;
    width: 300px;
}

#jackson{
    height: 200px;
    width: 300px;
}

#limpyo{
    height: 200px;
    width: 300px;
}


